<h2 class="mt-4">Deleted courses list</h2>
<a href="/course/view">Course list</a>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Course name</th>
      <th scope="col">Description</th>
      <th scope="col">Deleted at</th>
      <th colspan="2" scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.desc}}</td>
      <td>{{this.deletedAt}}</td>
      <td>
        <a class="btn btn-warning btnRestore" data-id='{{this._id}}'  role="button">Restore</a>

      </td>
      <td>
        <a class="btn btn-danger" data-id='{{this._id}}' role="button" data-toggle="modal"
          data-target="#exampleModal">Hard delete</a>

      </td>
    {{else}}
      <td colspan="6" class="text-center">
        You don't have any deleted courses yet!
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{!-- form  --}}
<form method="post" id="deleteForm"></form>
<form method="post" id="restoreForm"></form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to hard delete this course? This action cannot be undone!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="deleteBtn">Delete</button>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var id;

    $('#exampleModal').on('show.bs.modal', function (e) {
      var button = $(e.relatedTarget)
      id = button.data('id');
    })

    $('#deleteBtn').click(function () {
      $('#deleteForm').attr('action', '/course/' + id + '/hardDelete?_method=delete');
      $('#deleteForm').submit();

    });

    $('.btnRestore').click(function (e) {
        e.preventDefault();
        var coureId = $(this).data('id');

      $('#restoreForm').attr('action', '/course/' + coureId + '/restore?_method=patch');
      $('#restoreForm').submit();

    });

  })


</script>